* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
body {
    background-color: rgb(0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}
.header {
    width: 90%;
    margin: 10px auto 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: rgb(255, 255, 255); 
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    text-shadow: 1px 1px 8px rgb(255, 255, 255);
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.display{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 0.4rem;
}
.input{
    width: 100%;
    margin: 0 0 0.5rem;
    height: 10rem;
    border: 2px solid rgb(255, 255, 255);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top: none;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    padding: 10px;
    pointer-events: none;
}

.btn-sec {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.cal-btns,
.cal-op-btns {
    height: 5.2rem;
    font-weight: bold;
    font-size: 2rem;
    border-radius: 10px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: all 0.15s;

}

.cal-btns:active,
.cal-op-btns:active {
    background-color: rgba(0, 170, 255, 0.138);
}

@media (max-width: 574px){
    .header{
        width: 95%;
    }
    .display{
        width: 95%;
    }
    .btn-sec{
        width: 95%;
    }
    .cal-btns,
    .cal-op-btns {
        height: 4.2rem;
    }
}